@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,600;1,400&display=swap");

body {
  margin: 0px;
  font-family: "Roboto Serif", sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
h1.todo-name {
  font-size: 25px;
  margin: 20px auto;
  color: rgb(112, 107, 107);
  border: 1px solid rgb(116, 116, 116);
  padding: 10px 10px;
  text-align: center;
  border-radius: 25px;
  width: 180px;
}
.todo-add-new-item {
  display: flex;
  justify-content: center;
}
.todo-add-new-item__input {
  margin: 0px 10px 0px 30px;
  font-size: 20px;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #fffca9;
}
.todo-add-new-item__btn {
  width: 35px;
  border: none;
  background-repeat: no-repeat;
  background-image: url("/img/svg/plus.svg");
  background-color: antiquewhite;
}
ul {
  padding: 20px;
  min-width: 300px;
}
.todo-item__text {
  list-style: none;
  font-size: 20px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 25px;
  display: inline-block;
  padding: 7px 15px;
  min-width: 225px;
  margin-bottom: 10px;
  min-height: 32px;
}

.todo-item__add {
}
